.Footer {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    font-family: Arial-MT-my, sans-serif;
    letter-spacing: 0.01px;
    color: #858585;
  }
  .Footer .Footer-YandexInfo {
    float: right;
  }
  
  .Footer-Content {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
  }
  .Footer-Content .Footer-Content-Elem {
    display: inline-block;
    padding-right: 20px;
  }
  .Footer-Content .Footer-Content-Elem a {
    text-decoration: none;
    color: #858585;
    transition: 0.5s ease;
  }
  .Footer-Content .Footer-Content-Elem a:hover {
    color: #000000;
  }
  