.Header {
  margin: 28px 42px;
}

.Header a{
  font-size: 16px;
  color: #333333;
  font-family: Arial, serif;
}

.Line{
  margin-top: 20px;
  position: absolute;
  left: 0;
  height: 1px;
  width: 100vw;
  background-color: #f0f0f0;
}

.Header-Logo {
  display: inline-block;
  position: relative;
  top: 8px;
}
.Header-Logo > img {
  width: 108px;
  height: 27px;
}